	
/* Import Section
=================================================================== */
@import url("icons.css");				/* Icons. */
@import url("icons-color.css");			/* Icons. */  
@import url("social-icons.css");		/* Social Icons */
@import url("hover.css");				/* Hover CSS3 Effect */
@import url("fancybox.css");			/* Fancybox */

html { -webkit-font-smoothing: antialiased; }

.clear {
	clear:both;
}

body {
	font-family: 'Droid Sans';
	font-size: 14px;
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Droid Sans" !important;
	font-weight: normal !important;
	color: #666;
	margin: 0;
	padding: 0;
}

h1 {
  font-size: 36px;
  line-height: 40px;
}

h2 {
  font-size: 20px;
  line-height: 40px;
}

h3 {
  font-size: 18px;
  line-height: 32px;
}

h4 {
  font-size: 13px;
  line-height: 20px;
}

h5 {
  font-size: 12px;
  line-height: 26px;
}

h6 {
  font-size: 11px;
  line-height: 24px;
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

hr.separation{
	border-top: 1px solid #eeeeee;
}

hr.separation.menu-item{
	margin: 1px 0;
}
			
.title {
	border-bottom: 3px double #f6f6f6;
	margin-bottom: 10px;
}

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
	border-bottom: 5px solid #29a9df !important;
	margin-bottom: -4px !important;
	display: inline-block !important;
	padding: 0px 10px !important;
	margin-left:15px !important;
	margin-right:15px !important;
}

#wrapper {
	background: #fff;

}

/* #Lists
================================================== */
	ul, ol { margin: 0; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul {}
	ul ul li, ul ol li,
	ol ol li, ol ul li {}

/* Header
=================================================================== */
	
header {
	background: #fff;
	border-bottom: 5px solid #f6f6f6;
}

.brand  {
	color: #ddd !important;
	text-decoration: none !important;
	font-size: 28px !important;
	margin-left: 10px;
	text-shadow: none !important;
	margin-top: 10px;
	padding: 0px 10px 5px !important;
}

.brand  i {
	margin-top: -10px;
	margin-right: 10px;
}

.brand span {
	color: #29a9df;
}

#social-links {
	margin-top:20px;
	float: right;
}

.nav-collapse.collapse {
    height: auto \9 !important;
    overflow: visible \9 !important;
}

.navbar, 
.navbar-inner, 
.nav,
.navbar-inverse {
	background: #fff !important;
	filter: none !important;
	border: none;
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
	padding: 0px;
	margin: 0;	
}

.navbar-inner {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.navbar .nav > li > a {
	color: #666;
	border-top:4px solid #fff;
	text-shadow: none;
	font-size: 16px;
	padding: 25px;
	padding: 22px 15px \9;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
	border-top:4px solid #29a9df !important;	
  	background: #29a9df !important;		
  	color: #fff;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  	color: #29a9df !important;	
  	text-decoration: none;
	border-top:4px solid #29a9df !important;	
  	background-color: #fff !important;	
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}

.navbar .nav > .active > a:hover {
	border-top:4px solid #29a9df !important;	
  	background: #29a9df !important;		
  	color: #fff !important;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}

.navbar .nav .active a:hover > .caret {
  border-top-color: #fff !important;	
  border-bottom-color: #fff !important;	
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  background: #29a9df !important;	
}

.dropdown-menu .active > a {
	color: #ffffff !important;
  	background: #29a9df !important;
}
.dropdown-menu .active > a:hover {
  	color: #ffffff !important;
  	background: #29a9df !important;	
}

.navbar .btn-navbar {
	margin-top: 15px;
}

.nav .active .dropdown-toggle .caret {
  border-top-color: #29a9df !important;	
  border-bottom-color: #29a9df !important;	
}


/* Page Title
=================================================================== */

#page-title-icon {
	background: #fff;
	height: 48px;
	width: 48px;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	padding: 4px;
	margin-left: -16px;
	margin-top: -18px;
	position: relative;
	z-index: 10;
	float: left;
	
}


#page-title {
	background: url(../img/slider.jpg);
	display: block;
	margin-bottom: 25px;
	position: relative;
	z-index: 20;
	border-bottom: 5px solid #f6f6f6;
}

#page-title-inner {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5YTlkZiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5YTlkZiIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, rgba(41,169,223,0.9) 0%, rgba(41,169,223,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,169,223,0.9)), color-stop(100%,rgba(41,169,223,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(41,169,223,0.9) 0%,rgba(41,169,223,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(41,169,223,0.9) 0%,rgba(41,169,223,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(41,169,223,0.9) 0%,rgba(41,169,223,0.9) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(41,169,223,0.9) 0%,rgba(41,169,223,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e629a9df', endColorstr='#e629a9df',GradientType=0 ); /* IE6-8 */
	-webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
	box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
	padding: 10px;
}

#page-title i {
	margin: -6px 2px -5px -18px;
	padding: 0px;
}

#page-title h2 {
	display: inline-block;
	font-family: "Droid Sans" !important;
	color: #fff;
	padding: 10px 20px 5px 20px;
	font-size: 30px;
}

#page-title span {
	color: #555;
}

/* Images Overlay
=================================================================== */
.picture {
	position: relative;
	border: 1px solid #ccc;
}
	
.picture .item-description {
	padding: 5px 15px;
	border: none;
	margin: 0px;
}

.post .picture,
#portfolio-wrapper .picture {
	position: relative;
	background: #fff;
	padding: 3px; 
	border: 1px solid #fcfcfc;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.25);
    box-shadow: 0px 1px 1px rgba(0,0,0,.25);
	}

.post .picture,	
#portfolio-wrapper .picture .item-description {
	margin-bottom: 0px;
	padding: 5px;
	border: none;
	margin: 0px;
}

#portfolio-wrapper .portfolio-item {
	margin-bottom: 20px;
}

#portfolio-wrapper .portfolio-item .title{
	font-size: 23px;
	line-height: 24px;
	text-align: center;
	border: 0;
}


.portfolio-item h1,
.portfolio-item h2,
.portfolio-item h3,
.portfolio-item h4,
.portfolio-item h5,
.portfolio-item h6{
	font-size: 14px;
	line-height: 20px;
}

	
.picture img {width: 100%; height: auto; }

.image-overlay-link,
.image-overlay-zoom {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 40;
	display: none;
	background-color: #222;
	background: rgba(0, 0, 0, 0.4);
	background-repeat: no-repeat;
	background-position: 50%;
	cursor: pointer;
}

.image-overlay-link {
	background-image: url(../img/overlay-icon-01.png);
}

.image-overlay-zoom {
	background-image: url(../img/overlay-icon-02.png);
}


.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  overflow: hidden;
	border: 4px solid #fff;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.25);
    box-shadow: 0px 1px 1px rgba(0,0,0,.25);
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}


/* Flexslider
=================================================================== */

/* Browser Resets
=================================================================== */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 


/* Necessary Styles
=================================================================== */
.flexslider {margin: 0; padding: 0;}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {position: relative;  zoom: 1; display: none; -webkit-backface-visibility: hidden;}
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flexslider {position: relative;  zoom: 1; z-index: 50;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* Default Styles
=================================================================== */
.flexslider {
	background: #fff;
	zoom: 1;
}

.ie7 .flexslider {margin-bottom: -30px;}

.flex-viewport {max-height: 2000px;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}


/* Direction Nav
=================================================================== */

.flex-direction-nav a {
	width: 35px;
	height: 35px;
	display: block;
	background-color: #555;
	top: 20px;
	right: 20px;
	float: none;
	position: absolute;
	cursor: pointer;
	text-indent: -9999px;
	background: rgba(0, 0, 0, 0.65);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-8 */
	
	*bottom: 50px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.flex-direction-nav .flex-next {
	background-image: url(../img/slider-control-right.png);
	background-repeat: no-repeat;
	background-position: 52% 50%;
}

.flex-direction-nav .flex-prev {
	margin-right: 36px;
	background-image: url(../img/slider-control-left.png);
	background-repeat: no-repeat;
	background-position: 48% 50%;
}

.flex-direction-nav .flex-prev:hover,
.flex-direction-nav .flex-next:hover {
	background-color:#29a9df;
	opacity: 1;
}

.subpage .flex-direction-nav a {bottom: 0px; right: 0px; *bottom: 30px;}


/* Control Nav
=================================================================== */
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -30px;
	text-align: center;
}
	
.flex-control-nav li {
	margin: 0 3px 0 0;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
	
.flex-control-paging li a {
	width: 14px;
	height: 14px;
	display: block;
	background: #c8c8c8;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}
	
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
	background: #505050;
}
	
.flex-control-paging li a.flex-active {
	cursor: default;
}


/* Caption
=================================================================== */
.slide-caption {
	width: auto;
	max-width: 30%;
	padding: 10px 20px;
	margin: 0 0 0px 0px;
	position: absolute;
	display: block;
	left: 20px;
	bottom: 20px;
	background: rgba(0, 0, 0, 0.7);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-8 */
}

.slide-caption.n {
	background: rgba(0, 0, 0, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-8 */
}
	
.slide-caption h3 {
	color: #fff;
	font-size: 18px;
	margin:0;
	line-height: 33px;
}
	
.slide-caption p {
	margin:0;
	line-height: 19px;
	color: #bbb;
}

/* Notice
====================================================================== */

.hero-unit {
	background: #eee;
	border-left: 4px solid #29a9df;
	padding: 13px 13px 13px 15px;
	font-style: italic;
	margin: 20px auto;
	-webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
	font-size: 14px !important;
}

/* Icon Boxes
=================================================================== */
.icons-box-container {
	float:left;
}

.icons-boxes-container {
	float:left;
}

.icons-box {
	text-align: center;
	border: 1px solid #fff;
	padding: 20px 10px 10px 10px;
}

.icons-box:hover {
	background: #fcfcfc;
	border: 1px solid #f6f6f6;
}

.icons-box h3 {
	margin: 0 auto;
	padding-top: 10px;
	border-bottom: 3px double #f6f6f6;
	margin-bottom: 10px;
}

.icons-box p {
	float: left;
}

.icons-box i {
	float: left;
	margin: -2px 0 0px 0;
}

.icons-box i.circle {
	float: none !important;
	margin: 0 auto !important;
}

.icons-box i.circle-color {
	float: none !important;
	margin: 0 auto !important;
}

.icons-box i.circle-color-full {
	float: none !important;
	margin: 0 auto !important;
}

.icons-box .title{
	margin-top: 10px;
}

.circle {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	-webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
	   -moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
		    box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
	margin: 0 auto;
	opacity: .1;
	filter: alpha(opacity=10);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.big {
	border: 20px solid #fff !important;
}

.ico-color {
	background-image: url("../img/icons/blue/glyphicons.png");
	opacity: 1;
}

.mini-color {
  background-image: url("../img/icons/blue/glyphicons-mini.png");
  opacity: 1;
}

.circle-color {
	background-color: #fff;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	-webkit-box-shadow: 0px 0px 0px 3px #29a9df;
	   -moz-box-shadow: 0px 0px 0px 3px #29a9df;
		    box-shadow: 0px 0px 0px 3px #29a9df;
	margin: 0 auto;
	opacity: 1;
}

.circle-color-full {
	background-color: #29a9df;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	-webkit-box-shadow: 0px 0px 0px 3px #29a9df;
	   -moz-box-shadow: 0px 0px 0px 3px #29a9df;
		    box-shadow: 0px 0px 0px 3px #29a9df;
	margin: 0 auto;
	opacity: 1;
}

.big-color {
	border: 20px solid #29a9df !important;
}



/* Icon Boxes Vert
=================================================================== */
.icons-box-vert-container {
	float:left;
}

.icons-boxes-vert-container {
	float:left;
}

.icons-box-vert {
	border: 1px solid #fff;
	padding: 30px 15px 10px 15px;
}

.icons-box-vert:hover {
	background: #fcfcfc;
	border: 1px solid #f6f6f6;
}

.icons-box-vert-info {
	float: right;
	margin-top: -6px;
	margin-bottom: 6px;
	margin-left: 20px;
	width: 70%;
}

.icons-box-vert h3 {
	float: left;
	margin-top: -10px;
}

.icons-box-vert p {
	float: left !important;
}

.icons-box-vert i {
	float: left;
}

.icons-box-vert i.circle {
	float: left !important;
}

.icons-box-vert i.circle {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	-webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
	   -moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
		    box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
	opacity: .1;
	filter: alpha(opacity=10);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.icons-left {
	float: left;
}

/* About
=================================================================== */
.team-name {
	padding: 15px 0;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 15px;
	font-family: "Droid Sans";
	font-size: 18px;
	text-align: center;

}

.team-name span {
	font-size: 12px;
	font-weight: normal;
	color: #888;
}

.team-about p {
	padding: 0 0 15px 0;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 15px;
}

/* Shortcodes
====================================================================== */

/* Buttons
=================================================================== */
.button,
input[type="button"] {
	padding: 9px 12px;
	display: inline-block;
	border: 0px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	cursor: pointer;
	width: auto;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

input[type="button"] {float: left;}

.button.medium {padding: 11px 17px; font-size: 14px;}

.button.gray {color: #fff;background: #444;}
.button.gray:hover {background:#72b626;}

.button.light {color:#fff; background:#aaa;}
.button.light:hover {background:#72b626;}

.button.color {color:#fff; background:#72b626;}
.button.color:hover {background:#aaa;}

/* Input Button */
input[type="button"] {color:#fff; background:#72b626;}
input[type="button"]:hover {background:#aaa}

.button.gray:hover, 
.button.light:hover, 
.button.color {
	background: #555;
}

.button.color {color:#fff; background:#29a9df;}
.button.color:hover {background:#aaa;}

input[type="button"] {
	background: #29a9df;
	color: #fff;
}

/* Alert Boxes
=================================================================== */
.alert {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 15px;
	position: relative;
	padding: 14px 40px 14px 18px;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
}

.alert.alert-success {
	background-color: #edf6e5 !important;
	color: #7a9659 !important;
	border: 1px solid #9fc76f !important;
}

.alert.alert-error {
	background-color: #fdeaea !important;
	color: #ca6f74 !important;
	border: 1px solid #f27b81 !important;
}

.alert {
	background-color: #fffee1 !important;
	color: #daac50 !important;
	border: 1px solid #f5c056 !important;
}

.alert.alert-info {
	background-color: #e9f8ff !important;
	color: #5d9fa9 !important;
	border: 1px solid #75c7d3 !important;
}


/* Testimonial's Carousel
=================================================================== */
.testimonial-container {
	position: relative;
}

.testimonials {
	background: #eee;
	border: 1px solid #eee;
	padding: 20px;
	line-height: 21px;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
}

.testimonials-bg {
	background: url(../img/testimonials-bg.png) no-repeat;
	margin-top: -1px;
	display: block;
	width: 200px;
	height: 30px;
}	

.testimonials-author {
	color: #666;
	float: left;
	display: block;
	margin-left: 60px;
	margin-top: -26px;
	margin-bottom: 20px;
}

.testimonials-author span {
	color:#a0a0a0
}

/* Carousel */
.carousel-disabled,
.mr-rotato-disabled,
.mr-rotato-next, 
.mr-rotato-prev {
	border: 1px solid #f6f6f6;
	display: inline-block;
	margin-right: 1px;
	height: 21px;
	width: 21px;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	display: block;
	position: absolute;
	margin-top: -40px;
}

.mr-rotato-next {
	background: url(../img/testimonials-right-01.png) no-repeat 50%;
	background-color: #fff;
	right: -1px;
	z-index: 6;
}

.mr-rotato-prev {
	background: url(../img/testimonials-left-01.png) no-repeat 50%;
	background-color: #fff;
	right: 25px;
	-webkit-box-shadow:  3px 0px 0px 0px #fff;
	box-shadow:  3px 0px 0px 0px #fff;
	z-index: 5;
}

.mr-rotato-next:hover {
	background: url(../img/testimonials-right-02.png) no-repeat 50%;
}

.mr-rotato-prev:hover {
	background: url(../img/testimonials-left-02.png) no-repeat 50%;
}

.mr-rotato-prev:hover,
.mr-rotato-next:hover {
	background-color: #29a9df;
	border-color: #29a9df;
}

/* Tabs
=================================================================== */
.tabs-nav {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

.tabs-nav li {
	float: left;
	line-height: 34px;
	overflow: hidden;
	padding: 0;
	position: relative;
	margin: 0 0 -1px 0;
}


.tabs-nav li a {
	background-color: #fcfcfc;
	border: 1px solid #f6f6f6;
	border-right: none;
	border-bottom: 1px solid #f6f6f6;
	color: #888;
	display: block;
	letter-spacing: 0;
	outline: none;
	padding: 0 10px;
	text-decoration: none;
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;
}

.ie7 .tabs-nav li a {height: 35px;}

.tabs-nav li:first-child a {border-left: 1px solid #f6f6f6;}
.tabs-nav li:last-child a {border-right: 1px solid #f6f6f6;}

.tabs-nav li.active a {	color: #444; font-weight: bold;}
.tabs-nav li.active a i {opacity: 1; filter: alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
.tabs-nav li i {opacity: 0.5; filter: alpha(opacity=50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
				
.tabs-nav li a:hover  {background: #fff;}

.tabs-nav li.active a {
	background: #fff;
	border-bottom: 2px solid #fff;
}
.tabs-container {
	border: 1px solid #f6f6f6;
	margin: -1px 0 20px;
	overflow: hidden;
	width: 100%;
	line-height: 19px;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
}

.post-page .tab-content {padding: 20px 0;}

.post-page .nav-tabs {
	border-bottom: 1px solid #ddd !important;
}


/* Progress Bar
=================================================================== */
.progress-bar h5 {
	margin-bottom:6px;
}

.progress-bar li {
	margin-bottom:12px;
	list-style: none;
}

.meter { 
	height: 23px; 
	position: relative;
	background: #fcfcfc;
}

.meter > span {
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.meter > span:after, .animate > span > span {
	content: "";
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
	overflow: hidden;
}

.meter > span:after, 
.animate > span > spans li.current {
	background:#29a9df;
}

/* Quotes
=================================================================== */

.quotes {
	background: #fff;
	padding: 3px;
	border: 1px solid #fcfcfc;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.25);
    box-shadow: 0px 1px 1px rgba(0,0,0,.25);
	font-family: "Boogaloo";
	
}

	.quote, .author {
		line-height: 28px;
		font-size: 24px;
		padding: 15px;
		color: #fff;
		font-family: "Boogaloo";
	}
	
	.author {
		font-size: 14px;
		text-align: center;
	}
	
	.quote, .author {
		background: #29a9df;
	}


/* Dropcaps
=================================================================== */
.dropcap {
	background: #fcfcfc;
	color: #666;
	display: inline-block;
	float: left;
	font-size: 23px;
	font-weight: 600;
	height: 36px;
	line-height: 36px;
	margin: 0 7px 0 0;
	text-align: center;
	width: 36px;
	border: 1px solid #f6f6f6;
}

.dropcap.dark {
	background: #3a3a3a;
	color: #fff;
}

.dropcap.color {
	background: #29a9df;
	color: #fff;
}

/* Contact Form
=================================================================== */
.field textarea {
	max-width: 97%;
	min-width: 97%;
	height: 130px;
	margin: 5px 0 15px 0;
}

.field input {
	width: 240px;
	margin-bottom: 15px;
}

.field:focus {border: 1px solid #eee;}

.field label span {color:#666;}

.field .validation-error, 
.field .validation-error:focus {
	border:1px solid #f2c4c2;
	background: #ffeceb;
}

.loading {
	background:url(../images/loader.gif) no-repeat 1px; 
	height:28px; 
	width:28px; 
	float: left;
	margin: 5px 0 0 10px;
	display: none;
}

.success-message .notification {margin-bottom: 20px;}
.success-message {display:none;}

.form-spacer {margin-top: 20px;}



/* Google Map
=================================================================== */
#googlemaps-container-top {
	position: relative;
	z-index: 2;
	-webkit-box-shadow: inset 0px 3px 3px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0px 3px 3px rgba(0,0,0,.25);
	box-shadow: inset 0px 3px 3px rgba(0,0,0,.25);
	height: 20px;
}

#googlemaps-container-bottom {
	position: relative;
	z-index: 2;
	-webkit-box-shadow: inset 0px -3px 3px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0px -3px 3px rgba(0,0,0,.25);
	box-shadow: inset 0px -3px 3px rgba(0,0,0,.25);
	height: 20px;
	margin-top: -40px;
	border-bottom: 5px solid #f6f6f6;
	margin-bottom: 20px;
}

#googlemaps{
	position: relative;
	z-index: 1;
	height: 400px;
	width: 100%;
	top: -20px;
}

#small-map-container {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	position: relative;
	z-index: 2;
	border: 5px solid #f6f6f6;
	-webkit-box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
	box-shadow: inset 0px 0px 5px rgba(0,0,0,.25);
	height: 210px;
	width: 210px;
	margin-bottom: -215px;

}

#small-map-container a {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	position: relative;
	z-index: 2;
	height: 210px;
	width: 210px;
	display: block;
}
	
#small-map {
	position: relative;
	z-index: 1;
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	margin-left: 5px;

}

/* Blog Posts
=================================================================== */
.post {
	padding: 0 0 15px 0;
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;	
}

.post.post-page {border-bottom: none; margin-bottom: 0;}

.post-content {margin: 22px 0 0 0px;}
.post-content .post-title{
	padding-bottom: 15px;
}

.post-content .post-title h1{
	font-size: 40px;
}

.post .post-description ul{margin-left: 15px;}
.post .post-description ol{margin-left: 38px;}
.post .post-description ul li{
	background: url(../img/icons/list/blue/list_plus.png) no-repeat 0 5px;
	padding: 0 0 0 18px;
}

/* Icons
=================================================================== */
.post-icon {
	float: left;
	width: 70px;
	height: 70px;
	margin-top: 30px;
}

/* Tags */
.post-meta {
	background: #fff;
	color: #666;
	margin: 5px 0px;
	padding: 10px 5px;
	border-top: 1px solid #eee;
	
}

.post-meta a {
	text-decoration: none;
}

.post-meta a:hover {
}

.post-meta i {
	opacity: 0.35;
	filter: alpha(opacity = 35);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	margin-right: 5px;
	zoom: 1;
}

.post-meta span {
	margin-right: 10px;
}

/* Portfolio Info
=================================================================== */
.project-info {
	margin-bottom: 15px;
}

.project-info .button {
	margin-bottom: 30px !important;
}

.project-info strong {
	color: #29a9df;
}

.launch {
	margin-bottom: 30px;
}

.project-tags {
	margin-top: 15px;
}

.project-tags strong {
	float: left;
	margin: 5px 10px 20px 0;
}

/* Widgets
=================================================================== */
.widget {margin-top: 25px;}
.first.widget {margin-top: -5px;}
.first.widget {margin-top: -5px;}

/* Tags */
.tags a {
	padding: 5px 10px;
	border: 1px solid #eee;
	display: inline-block;
	color: #666;
	background: #fff;
	margin: 0 3px 6px 0;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	box-shadow:  0px 1px 1px 0px rgba(180, 180, 180, 0.1);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	border-radius: 1px;
}

.tags a:last-child {margin-right:0;}

.tags a:hover {
	background: #29a9df;
	border: 1px solid #29a9df;
	color: #fff;
}

/* Isotope Filtering
=================================================================== */

.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/* Isotope CSS3 transitions
=================================================================== */
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	 -moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	 transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:         top, left, opacity;
	transition-property:         transform, opacity;
}

/* Disabling Isotope CSS3 transitions
=================================================================== */

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	 transition-duration: 0s;
}

/* Disable CSS transitions for containers with infinite scrolling
====================================*/
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

/* List Styles
=================================================================== */
.check_list li,
.plus_list li,
.minus_list li,
.star_list li,
.arrow_list li,
.square_list li,
.circle_list li,
.cross_list li {
	list-style: none;
	margin: 5px 0;
}

.check_list li {background: url(../img/icons/list/blue/list_check.png) no-repeat 0% 50%; padding: 0 0 0 18px;}
.plus_list  li {background: url(../img/icons/list/blue/list_plus.png) no-repeat 0% 50%; padding: 0 0 0 18px;}
.minus_list  li {background: url(../img/icons/list/blue/list_minus.png) no-repeat 0% 50%; padding: 0 0 0 18px;}
.star_list  li {background: url(../img/icons/list/blue/list_star.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.arrow_list  li {background: url(../img/icons/list/blue/list_arrow.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.square_list  li {background: url(../img/icons/list/blue/list_square.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.circle_list  li {background: url(../img/icons/list/blue/list_circle.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.cross_list  li {background: url(../img/icons/list/blue/list_cross.png) no-repeat 0% 50%; padding: 0 0 0 16px;}


/* Footer
====================================================================== */
#footer-menu {
	height: 50px;
	background: #fcfcfc url(../img/bg-k20.png) repeat;
	border-top: 4px solid #f6f6f6;
	border-bottom: 4px solid #f6f6f6;
	margin-top: 20px;
}

#footer-menu-logo  {
	height: 46px;
}

#footer-menu-logo #logo-chart {
	margin: 5px;
	height: 36px;
	width: 36px;
	background: #fcfcfc url(../img/chart.png);
	background-repeat: no-repeat;
	background-position: 48%;
	opacity: .1;
	filter: alpha(opacity=10);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	border: 3px solid #000;
	float: left;
}


#footer-menu-logo a{
	color: #ddd;
	text-decoration: none;
	font-size: 22px;
	line-height: 54px;
	margin-left: 5px;
}

#footer-menu-logo span {
	color: #666;
}

#footer-menu-logo img {
	margin-top: 5px;
	float: right;
}

#footer-menu-links {
	display: block;
	float: left;
	max-height: 52px;
	margin: 6px 0 6px 0;

}

#footer-menu-links ul,
#footer-menu-links li {
	list-style: disc;
	color:#999999;
	padding:0;
	margin:0;
}

#footer-menu-links li:first-child {
	list-style: none;
}


#footer-menu-links ul li{
	float:left;
	position:relative;
	z-index: 100;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#footer-menu-links ul li a { 
	display: inline-block;
	color: #666;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Droid Sans';
	text-transform: lowercase;
	padding: 10px 15px 10px 0px;
	margin: 0px 10px 0px 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-weight: bold;
	
}

#footer-menu-links ul li:first-child a { 

}

#footer-menu-links ul li a:hover {
	color: #285ADA;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#footer-menu-back-to-top {
	margin: 10px;
	z-index: 999;
}

#footer-menu-back-to-top a {
	width: 30px;
	height: 30px;
	display: block;
	background-color: #29a9df;
	background-image: url(../img/scroll-top-top.png);
	background-repeat: no-repeat;
	background-position: 50%;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

#footer-menu-back-to-top a:hover {background-color: #aaa;}

#footer {
	background: url(../img/bg-k10.png) repeat;
	border-bottom: 4px solid #f6f6f6;
	color: #666 !important;
	padding: 40px 0px;
	z-index: 1;
	position: relative;
	opacity: 1;
}

#footer, 
#footer p, 
#footer a{ 
	color: #666 !important;
}

#footer a:hover {
	color: #fff;
}

.no-margin {margin-top: 0;}

#footer h3 {
	padding: 2px 0px !important;
	margin-bottom: 10px;
	color: #666;
	border-bottom: 5px double #f6f6f6;
}

/* Newsletter Form
====================================================================== */

form#newsletter {
	color: #999999;
	margin-left: 10px;
}

form#newsletter p {
	margin: 0px 0px -10px 0px;
}

form#newsletter label {
	font-size: 16px;
	width: 20px;
	display: block;
	position: relative;
	left: 8px;
	top: 33px;
	z-index: 2;
}	

form#newsletter input[type=text] {
	background: #fff;
	width: 75%;
	float: left;
	border: 1px solid #f6f6f6;
	position: relative;
	z-index: 1;
	padding: 7px 0px 8px 34px;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		    box-shadow: none;
	-webkit-border-top-left-radius: 3px;
	   -moz-border-radius-topleft: 3px;		
			border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	   -moz-border-radius-bottomleft: 3px;		
			border-bottom-left-radius: 3px;				
}
	
form#newsletter input[type=submit] {
	background: #29a9df;
	color: #fff;
	width: 25%;
	float: left;
	border: 1px solid #f6f6f6;
	position: relative;
	z-index: 2;
	font-size: 14px;
	padding: 7px 0px 8px 0px;
	margin-top: 0px;
	margin-left: -42px;
	-webkit-border-top-right-radius: 3px;
	   -moz-border-radius-topright: 3px;		
			border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	   -moz-border-radius-bottomright: 3px;		
			border-bottom-right-radius: 3px;

}

/* Copyright
====================================================================== */

#copyright {
	padding: 20px 0px;
}

#copyright p {
	margin: 0 auto;
	text-align: center;
	color: #666;
}

/* Links List
=================================================================== */
.links-list li a {
	color: #a4a4a4;
	display: block;
	padding: 3px 0;
	padding-left: 12px;
	background: url(../img/links-list-arrow-01.png) no-repeat left 47%;
}

.links-list-alt li a {
	color: #666;
	display: block;
	padding: 3px 0;
	padding-left: 12px;
	background: url(../img/links-list-arrow-02.png) no-repeat left 47%;
}

.links-list li a:hover {color: #efe9d8}
.links-list-alt li a:hover {color: #888}

.links-list li:first-child a,
.links-list-alt li:first-child a {
	margin: -3px 0 0 0;
}

/* Photo Stream
=================================================================== */
.flickr-widget {margin-right: -12px; margin-top: 15px;}
.flickr-widget img {display: block; width: 100%;}
.flickr-widget a:hover {border-color: #505050;}

.flickr-widget a {
	float: left;
	width: 52px;
	height: 52px;
	margin-left: 0px;
	margin-right: 11px;
	margin-bottom: 12px;
	background: #fcfcfc;
	border: 1px solid #f6f6f6;
	padding: 4px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.ie7 .flickr-widget a {width: 54px; height: 54px;}


/* Custom Buttons Colors
====================================================================== */

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #29a9df;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #29a9df, #29a9df);
  background-image: -ms-linear-gradient(top, #29a9df, #29a9df);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#29a9df), to(#29a9df));
  background-image: -webkit-linear-gradient(top, #29a9df, #29a9df);
  background-image: -o-linear-gradient(top, #29a9df, #29a9df);
  background-image: linear-gradient(top, #29a9df, #29a9df);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'29a9df, endColorstr='#'29a9df, GradientType=0);
  border-color: #29a9df #29a9df #29a9df;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #29a9df;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn-warning {
  background-color: #faa732;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #fbb450, #fbb450);
  background-image: -ms-linear-gradient(top, #fbb450, #fbb450);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#fbb450));
  background-image: -webkit-linear-gradient(top, #fbb450, #fbb450);
  background-image: -o-linear-gradient(top, #fbb450, #fbb450);
  background-image: linear-gradient(top, #fbb450, #fbb450);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'fbb450, endColorstr='#'fbb450, GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #fbb450;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  background-color: #da4f49;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: -ms-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#ee5f5b));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: -o-linear-gradient(top, #ee5f5b, #ee5f5b);
  background-image: linear-gradient(top, #ee5f5b, #ee5f5b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ee5f5b, endColorstr='#'ee5f5b, GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #ee5f5b}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  background-color: #5bb75b;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #29a9df, #29a9df);
  background-image: -ms-linear-gradient(top, #29a9df, #29a9df);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#29a9df), to(#29a9df));
  background-image: -webkit-linear-gradient(top, #29a9df, #29a9df);
  background-image: -o-linear-gradient(top, #29a9df, #29a9df);
  background-image: linear-gradient(top, #29a9df, #29a9df);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'29a9df, endColorstr='#'29a9df, GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #29a9df;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  background-color: #49afcd;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -ms-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#5bc0de));
  background-image: -webkit-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: -o-linear-gradient(top, #5bc0de, #5bc0de);
  background-image: linear-gradient(top, #5bc0de, #5bc0de);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'5bc0de, endColorstr='#'5bc0de, GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #5bc0de;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  color: #ffffff;
  background-color: #363636;
  *background-color: #222222;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}



/* Images */
.ico-logotype{
	background-image:url('../img/logotype.png');
}

.dropdown-limited{
	min-width: 200px;
}

.dropdown-limited li > a {
	white-space: normal;
}

.dropdown-limited li > a p{
	margin: 0;
}

div#contact-form button[type="submit"] {
	background: #29A9DF;
	color: white;
	border: 1px solid #F6F6F6;
	position: relative;
	font-size: 14px;
	padding: 8px 10px;
	margin-top: 0px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
}

.facebook-like {width:100px;background-color:#404040;border-radius:5px;}

.post .program .row{
	margin-left: -10px;
}

.post .program .span3{
	height: 202px;
	margin-bottom: 10px;
	margin-left: 10px;
}

article.event-activity{
	height: 100%;
	overflow: hidden;
	border: 1px solid #eee;
	box-shadow: 0 2px 10px #D2D2D2;
	-moz-box-shadow: 0 2px 10px #d2d2d2;
	-ms-box-shadow: 0 2px 10px #d2d2d2;
	-o-box-shadow: 0 2px 10px #d2d2d2;
	-webkit-box-shadow: 0 2px 10px #D2D2D2;
}

article.event-activity header{
	height: 32px;
	width: 100%;
	background-color: #4486f6;
	vertical-align: middle;
	font-size: 14px;
	color: #fff;
	padding: 15px 0 0 10px;
	margin-bottom: 0;
	line-height: 15px;
	border-bottom: 1px solid #ddd;
	background: #4486f6;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4486f6), color-stop(100%, #207cca), color-stop(100%, #2989d8), color-stop(100%, #4180eb));
	background: -webkit-linear-gradient(top, #4486f6 0%,#207cca 100%,#2989d8 100%,#4180eb 100%);
	background: -moz-linear-gradient(top, #4486f6 0%,#207cca 100%,#2989d8 100%,#4180eb 100%);
	background: -o-linear-gradient(top, #4486f6 0%,#207cca 100%,#2989d8 100%,#4180eb 100%);
	background: linear-gradient(top, #4486f6 0%,#207cca 100%,#2989d8 100%,#4180eb 100%);
}

div.green-opacy{
	background-color: #dfeead;
	background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #cbecc7), color-stop(35%, #dbe8da), color-stop(68%, #d7e8d5), color-stop(100%, #cbecc7), color-stop(100%, #eeeeee), color-stop(100%, #cbecc7));
	background: -webkit-linear-gradient(left, #cbecc7 0%,#dbe8da 35%,#d7e8d5 68%,#cbecc7 100%,#eeeeee 100%,#cbecc7 100%);
	background: -moz-linear-gradient(left, #cbecc7 0%,#dbe8da 35%,#d7e8d5 68%,#cbecc7 100%,#eeeeee 100%,#cbecc7 100%);
	background: -o-linear-gradient(left, #cbecc7 0%,#dbe8da 35%,#d7e8d5 68%,#cbecc7 100%,#eeeeee 100%,#cbecc7 100%);
	background: linear-gradient(left, #cbecc7 0%,#dbe8da 35%,#d7e8d5 68%,#cbecc7 100%,#eeeeee 100%,#cbecc7 100%);
}

div.sky-light{
	background: #eee;
	background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eeeeee), color-stop(35%, #fcfcfc), color-stop(68%, #f7f7f7), color-stop(100%, #eeeeee), color-stop(100%, #eeeeee));
	background: -webkit-linear-gradient(left, #eeeeee 0%,#fcfcfc 35%,#f7f7f7 68%,#eeeeee 100%,#eeeeee 100%);
	background: -moz-linear-gradient(left, #eeeeee 0%,#fcfcfc 35%,#f7f7f7 68%,#eeeeee 100%,#eeeeee 100%);
	background: -o-linear-gradient(left, #eeeeee 0%,#fcfcfc 35%,#f7f7f7 68%,#eeeeee 100%,#eeeeee 100%);
	background: linear-gradient(left, #eeeeee 0%,#fcfcfc 35%,#f7f7f7 68%,#eeeeee 100%,#eeeeee 100%);
}

div.green-light {
	background: #dfeead;
	background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(12%, #dfeead), color-stop(36%, #ebf8c2), color-stop(62%, #ebf8c2), color-stop(95%, #dfeead));
	background: -webkit-linear-gradient(left, #dfeead 12%,#ebf8c2 36%,#ebf8c2 62%,#dfeead 95%);
	background: -moz-linear-gradient(left, #dfeead 12%,#ebf8c2 36%,#ebf8c2 62%,#dfeead 95%);
	background: -o-linear-gradient(left, #dfeead 12%,#ebf8c2 36%,#ebf8c2 62%,#dfeead 95%);
	background: linear-gradient(left, #dfeead 12%,#ebf8c2 36%,#ebf8c2 62%,#dfeead 95%);
}

div.yellow{
	background: #fbf0a0;
	background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fbf0a0), color-stop(35%, #f7f1c3), color-stop(68%, #f7efc5), color-stop(100%, #fbf0a0), color-stop(100%, #eeeeee), color-stop(100%, #fbf0a0));
	background: -webkit-linear-gradient(left, #fbf0a0 0%,#f7f1c3 35%,#f7efc5 68%,#fbf0a0 100%,#eeeeee 100%,#fbf0a0 100%);
	background: -moz-linear-gradient(left, #fbf0a0 0%,#f7f1c3 35%,#f7efc5 68%,#fbf0a0 100%,#eeeeee 100%,#fbf0a0 100%);
	background: -o-linear-gradient(left, #fbf0a0 0%,#f7f1c3 35%,#f7efc5 68%,#fbf0a0 100%,#eeeeee 100%,#fbf0a0 100%);
	background: linear-gradient(left, #fbf0a0 0%,#f7f1c3 35%,#f7efc5 68%,#fbf0a0 100%,#eeeeee 100%,#fbf0a0 100%);
}

div.sky-opacy{
	background: #dce8ff;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dce8ff), color-stop(35%, #e8f0ff), color-stop(68%, #e8f0ff), color-stop(100%, #dce8ff), color-stop(100%, #eeeeee));
	background: -webkit-linear-gradient(#dce8ff 0%,#e8f0ff 35%,#e8f0ff 68%,#dce8ff 100%,#eeeeee 100%);
	background: -moz-linear-gradient(#dce8ff 0%,#e8f0ff 35%,#e8f0ff 68%,#dce8ff 100%,#eeeeee 100%);
	background: -o-linear-gradient(#dce8ff 0%,#e8f0ff 35%,#e8f0ff 68%,#dce8ff 100%,#eeeeee 100%);
	background: linear-gradient(#dce8ff 0%,#e8f0ff 35%,#e8f0ff 68%,#dce8ff 100%,#eeeeee 100%);
}

div.green-dark{
	background: #cbecc7;
	background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #cbecc7), color-stop(35%, #dbe8da), color-stop(68%, #d7e8d5), color-stop(100%, #cbecc7), color-stop(100%, #eeeeee), color-stop(100%, #cbecc7));
	background: -webkit-linear-gradient(left, #cbecc7 0%,#dbe8da 35%,#d7e8d5 68%,#cbecc7 100%,#eeeeee 100%,#cbecc7 100%);
	background: -moz-linear-gradient(left, #cbecc7 0%,#dbe8da 35%,#d7e8d5 68%,#cbecc7 100%,#eeeeee 100%,#cbecc7 100%);
	background: -o-linear-gradient(left, #cbecc7 0%,#dbe8da 35%,#d7e8d5 68%,#cbecc7 100%,#eeeeee 100%,#cbecc7 100%);
	background: linear-gradient(left, #cbecc7 0%,#dbe8da 35%,#d7e8d5 68%,#cbecc7 100%,#eeeeee 100%,#cbecc7 100%);
}


article.event-activity div.summary{
	height: 140px;
	width: 100%;
	display: block;
	color: black;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	padding: 6px 14px 4px 10px;
}

div.newsletter div.item-description{
	padding-top: 10px;
}

div.newsletter div.item-description h4{
	font-size: 16px;
}

body.pageError {
background: rgb(175, 181, 184);
font-family: 'Open Sans', sans-serif;
color: #e4e4da;
}

.pageError h3 {
	font-family: 'Squada One', cursive;
	font-size: 110px;
	color: #88a61b;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 70px;
}

.pageError p{
	text-align: center;
	font-size: 24px;
	line-height: 30px;
}

ul.event_post{
	padding: 5px 18px;
}

.star_list_event li{
	background: url(../img/icons/list/blue/list_star.png) no-repeat 0% 10%;
	padding: 0 0 0 16px;
}

.home-entry h2{
	font-size: 22px;
	line-height: 25px;
	text-align: center;
	text-transform: uppercase;
}

.home-entry p{
	font-size: 17px;
	margin: 10px 35px;
	margin-bottom: 30px;
	text-align: center;
}

.home-entry .picture{
	border: 1px solid #ccc;
	vertical-align: baseline;
	border-radius: 50% / 20px;
	box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
	clip: rect(12px, auto, 24px, 0);
}

.social-box{
	background-color: #f8f8f8;
	border: 1px solid #e5e5e5;
	overflow: hidden;
	padding: 20px;
}

.social-box .item{
	text-align: center;
}



/* Higher than 1200 (desktop devices)
====================================================================== */
@media only screen and (min-width: 1200px) {
	
	.nav-collapse {
		float: right;
	}
	 
}

/* Higher than 960 (desktop devices)
====================================================================== */

@media only screen and (min-width: 960px) and (max-width: 1199px){
		
	.nav-collapse {
		float: right;
	}
		
	.navbar .nav > li > a {
		padding: 22px 10px;
	}
		
	.flexslider.home {
		min-height: 300px;
	}

}

/* Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	header {
		min-height: 64px;
	}
	
	.brand  {
		margin-top: 10px !important;
	}
	
	.navbar .nav > li > a {
		font-size: 14px;
		padding: 5px 15px;
	}
	
	ol li ol.childlist .comment-des {
		width:86%;
	}
	
}

/* All Mobile Sizes (devices and browser)
====================================================================== */
@media only screen and (max-width: 767px) {
	
	body {
		padding: 0px;
	}
	
	header,
	#wrapper,
	#footer-menu,
	#footer {
		padding: 0px 10px;
	}
	
	.brand  {
		margin-top: 10px !important;
	}
	
	#contact-details {
		text-align: center;
		float: left;
	}
	
	
	.post-meta {
		display: none;
	}
	
	.post-title h2 {
		line-height: 26px;
		margin-bottom: 15px;
	}
	
	.post-icon {
		margin-top: 28px;
	}
	
	#filters,
	#portfolio-navi {
		position: relative;
		text-align: left;
		display: block;
		margin: 0 0 23px 0;
	}
	
	#portfolio-navi {
		margin: -5px 0 25px 0;
	}
	
	.portfolio-item {
		margin: 5px 0 25px 0 !important;
	}
	
	.item-description.related {
		margin-bottom: 30px;
	}
	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	header {
		min-height: 64px;
	}
	
	.navbar .nav > li > a {
		font-size: 14px;
		padding: 5px 15px;
	}
		
	.flickr-widget a {
		width: 53px;
		height: 53px;
	}
	
	ol li ol.childlist .comment-des {
		width:82%;
	}
	
	.comment-des{
		width:83%;
	}
	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {
	
	header {
		min-height: 64px;
	}
	
	.navbar .nav > li > a {
		font-size: 14px;
		padding: 5px 15px;
	}
	
	ol li ol.childlist .comment-des {
		width:77%;
	}
	
	.comment-des{
		width:78%;
	}
	
}
	